@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bebas-nueve: 'Bebas Neue', sans-serif;
    --oswald: 'Oswald', sans-serif;
    --primary-color: white
}

p {
    font-weight: 400;
}

.cursor-pointer {
    cursor: pointer;
}

.swiper-button-prev,
.swiper-button-next {
    color: grey !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 14px !important;
}

.swiper-pagination {
    right: 30px !important;
    left: auto !important;
    transform: none !important;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active-prev,
.swiper-pagination-bullets .swiper-pagination-bullet-active-prev-prev,
.swiper-pagination-bullets .swiper-pagination-bullet-active-next,
.swiper-pagination-bullets .swiper-pagination-bullet-active-next-next {
    background-color: white !important;
    opacity: 0.5 !important;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: var(--primary-color) !important;
    border-radius: 5px !important;
    width: 30px !important;
}


.swiper-pagination-bullets .swiper-pagination-bullet {
    border-radius: 5px !important;
    width: 30px !important;
}


*::-webkit-scrollbar {
    display: none !important;
}

* {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

#nprogress .bar {
    background: rgb(220, 51, 51) !important;
}

.default_screen_padding {
    padding-left: 100px;
    padding-right: 100px;
}

@media screen and (max-width: 1280px) {
    .default_screen_padding {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (max-width: 1024px) {
    .default_screen_padding {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 768px) {
    .default_screen_padding {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 480px) {
    .default_screen_padding {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.scrolling_seasons_cards {
    width: 150px !important;
    /* padding: 10px; */
    display: inline-flex;
    flex-direction: column;
    flex: none;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.361);
    gap: 5px;
    padding: 5px;
    height: fit-content;
}


.youtubeModal {
    width: 60%
}

.fadein {
    animation: opac 0.2s
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@media screen and (max-width : 600px) {
    .youtubeModal {
        width: 100%
    }
}

.limitTo1Lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.limitTo2Lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media screen and (min-width:600px) {
    .seasonModal {
        justify-content: center !important;
        align-items: center !important;
    }

    .seasonModal .body {
        width: 50% !important;
        border-radius: 16px !important;
    }

}

.scrollableSection {
    overflow-x: auto;
    padding-right: 10px;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.scrollableSection>div {
    min-width: 24%;
}

.scrollableSection>div>img {
    width: 100%;
}