@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-button-prev,
.swiper-button-next {
    color: grey !important;
}

:root {
    --bebas_nueve: 'Bebas Neue', sans-serif;
    --red_color: red
}

.bebas_nueve {
    font-family: var(--bebas_nueve) !important;
}