.slideContainer {
  position: relative;
  width: 100vw;
  height: 85vh;
}

.imageContainer {
  z-index: 1;
  height: 100%;
}

.imageContainer>img {
  filter: brightness(50%);
  height: 100%;
  object-fit: cover;
  /* object-position: top; */
}

.contentContainer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 20;
}

.contentContainer h3 {
  margin-top: -10px;
}

.slideContainer .movieCard {
  z-index: 10 !important;
  position: absolute;
  left: 100px;
  top: 25%;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
}

.movieCard img {
  height: 300px;
  width: 200px;
  border-radius: 10px;
}

.contentContainer>h3 {
  font-size: 40px;
  font-family: var(--bebas_nueve) !important;
  text-transform: uppercase;
  margin: 0;
}

.rating {
  color: rgba(255, 255, 255, 0.809);
  font-size: 20px;
}

.rating i {
  color: red;
}

.rating>span {
  font-size: 30px;
  color: white;
}


@media screen and (max-width: 600px) {
  .rating {
    font-size: 10px;
  }

  .rating>span {
    font-size: 20px;
  }

  .contentContainer {
    bottom: 20px;
  }

  .slideContainer {
    height: 28vh;
  }

  .contentContainer p {
    font-size: 5px;
  }

  .contentContainer h3 {
    margin: 0;
    font-size: 18px;
  }
}


@media screen and (min-width: 601px) and (max-width: 1000px) {
  .slideContainer {
    height: 40vh;
  }

  .contentContainer>h3 {
    font-size: 20px;
  }

  .slideContainer .movieCard {
    left: 80px;
    top: 30%;
  }

  .movieCard img {
    height: 150px;
    width: 90px;
  }
}