.slideContainer {
  position: relative;
  width: 100vw;
  height: 85vh;
}

.imageContainer {
  z-index: 1;
  height: 100%;
}

.imageContainer>img {
  filter: brightness(50%);
  height: 100%;
  object-fit: cover;
}

.contentContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  padding: 60px;
  color: white;
  z-index: 20;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  background: #000000;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0.05) 60%);

  background: #000000;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.31) 50%, rgba(0, 0, 0, 0.1) 100%);
}

.slideContainer .movieCard {
  z-index: 10 !important;
  position: absolute;
  left: 100px;
  top: 25%;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
}

.movieCard img {
  height: 300px;
  width: 200px;
  border-radius: 10px;
}

.contentContainer>h3 {
  font-size: 40px;
  /* text-transform: uppercase; */
  margin: 0;
  font-weight: 600;
}


.rating {
  color: rgba(255, 255, 255, 0.358) !important;
  font-size: 12px;
}

.rating svg {
  height: 16px;
  width: 16px;
}

.rating>span {
  font-size: 30px;
}

@media screen and (max-width: 600px) {
  .rating {
    font-size: 10px;
  }

  .rating>span {
    font-size: 20px;
  }

  .contentContainer {
    bottom: 20px;
  }

  .slideContainer {
    height: 28vh;
  }

  .contentContainer p {
    font-size: 5px;
  }

  .contentContainer h3 {
    margin: 0;
    font-size: 18px;
    line-height: 20px;
  }
}


@media screen and (min-width: 601px) and (max-width: 1000px) {
  .slideContainer {
    height: 40vh;
  }

  .contentContainer>h3 {
    font-size: 20px;
  }

  .slideContainer .movieCard {
    left: 80px;
    top: 30%;
  }

  .movieCard img {
    height: 150px;
    width: 90px;
  }
}