.slideContainer {
  position: relative;
  width: 100vw;
  height: 90vh;
}

.imageContainer {
  z-index: 1;
}

.imageContainer>img {
  filter: brightness(60%);
}

.contentContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 20;
}

.contentContainer>h3 {
  font-size: 80px;
  font-family: var(--bebas_nueve) !important;
  text-transform: uppercase;
  margin: 0;
}

.rating {
  color: rgba(255, 255, 255, 0.809);
}

.rating i{
  color: red;
}

.rating>span {
  font-size: 2em;
  color: white;
}