.NavigationBar {
    z-index: 10 !important;
    width: 100%;
    position: fixed;
    top: 0;
}

.brand {
    font-size: 20px;
}

.menu {
    font-size: 40px;
}

.searchIcon {
    font-size: 30px;
}

@media screen and (max-width: 600px) {
    .NavigationBar {
        padding: 10px 5px !important;
        position: sticky;
    }

}


@media screen and (min-width: 601px) and (max-width: 1000px) {
    .slideContainer {
        height: 40vh;
    }

    .contentContainer>h3 {
        font-size: 20px;
    }
}